html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ! HEADER RULES */
body {
  padding: 4rem 10px 0px 10px;
  font-family: "Times New Roman", Times, serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
.header .name {
}

.header .pfp {
  width: 256px;
}
.header .hobby {
}
.header .navbar {
}
.header .navbar ul {
  list-style-type: none;
  display: flex;
  width: fit-content;
  /* border: 1px solid black; */
}
.header .navbar li {
  font-size: 1.2rem;
}
.header .navbar a,
.header .navbar a:visited {
  text-decoration: wavy;
  color: darkslateblue;
}
.header .navbar a:hover {
  text-decoration: underline;
}

.header .about-me,
.header .skills,
.header .works {
  max-width: 640px;
  width: 100%;
}

.header .skills li {
  list-style-position: inside;
  list-style-type: circle;
}

.header .works li {
  list-style-position: inside;
  list-style-type: none;
}

.project {
  margin-top: 0.5rem;
}
.project .title {
  font-size: 1.2rem;
  color: gray;
}
.project .title a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.project .description {
  margin-top: 0.25rem;
  color: rgb(44, 44, 44);
}

footer {
  padding: 0.25rem 0px 1rem 0px;
}
